/* 1436px */
@media (max-width: 89.75em) {
  li {
    font-size: 1.8rem;
  }

  .rules-window {
    padding: 2rem 5rem;
  }
}

/* 1000-1200px */
@media (max-width: 75em) {
  li {
    font-size: 1.9rem;
  }

  .figures-container {
    padding: 5rem 0;
  }

  .rules-window {
    padding: 3rem 6rem;
  }

  .user-pick,
  .cpu-pick {
    top: 3%;
  }
}
/*  800-1000px */
@media (max-width: 62.5em) {
  .figures-container {
    padding: 5rem 0;
  }
  .rules-window ol li {
    font-size: 1.7rem;
  }
  .rules-window {
    padding: 2rem 4rem;
    padding-top: 3rem;
  }
}

/* 600-800px */
@media (max-width: 50em) {
  .rules-window ol li {
    font-size: 1.25rem;
  }
  .rules-window {
    padding: 2rem 3rem;
  }

  .figure-btn img {
    width: 80px;
  }

  .figure-btn {
    padding: 10px 20px;
  }

  .figure-btn::after {
    padding: 80px;
  }

  .result {
    font-size: 1.5rem;
  }

  .again-btn {
    font-size: 1.2rem;
    padding: 0.8rem 1.6rem;
  }
}
